@import '~styles/variables';

.monitoring {
  padding: 16px 0;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.refreshing {
  color: @color-text-caption;
}

.chart-card {
  margin-bottom: 16px;
}

.empty-chart {
  height: 300px;
  padding-top: 92px;
}
